 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 145px;
}

.u-section-1 .u-image-1 {
  width: 81px;
  height: 104px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -83px auto 0 129px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -44px 11px 36px auto;
  padding: 14px 68px 15px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -104px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -17px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -91px;
    margin-right: -15px;
    margin-left: 96px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-right: auto;
    margin-bottom: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 503px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 433px;
  width: 545px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 263px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 240px;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -10px auto 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 415px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 373px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 456px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-bottom: -23px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 385px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -856px;
    margin-left: auto;
  }
}