 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  padding: 10px 0px 10px 0px;
  min-height: 51px;
  align-content: center;
}

.u-section-1 .u-image-1 {
  width: 40px;
  height: 51px;
  margin: 0px 10px 0px 5px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  width: auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 5px 20px 5px 20px;
  margin: 0px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.45rem;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin: 5px auto 0px auto;
  }
}

.u-section-2 .u-sheet-1 {
  margin: 0px auto 0px auto;
}

.u-section-2 .u-layout-cell-1 {
  margin: 0px;
  padding: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 505px;
  height: 361px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.0rem;
  margin: 17px 63px 0 103px;
}

.u-section-2 .u-text-2 {
  font-size: 1.0rem;
  margin: 9px 140px 0 165px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 415px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 336px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 90px;
    margin-left: 115px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 110px;
    margin-left: 135px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 243px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 29px;
    margin-bottom: -23px;
  }
}

.u-section-3 {
  margin-top: 10px;
}

.u-section-3 .u-sheet-3 {
  margin-top: 15px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.u-section-3 .u-image-l1 {
  width: 51px;
  height: 51px;
  margin: 0px 5px 0px 5px;
}

.u-section-3 .u-image-l2 {
  width: 46px;
  height: 51px;
  margin: 0px 5px 0px 5px;
}

.u-section-3 .u-image-l3 {
  width: 50px;
  height: 50px;
  margin: 0px 5px 0px 5px;
}

.u-section-3 .u-logotype {
  padding: 5px;
}

.u-section-3 .u-text-logo {
  color: gray;
  font-size: 1.175rem;
  font-weight: normal;
  margin: 10px 0px 10px 0px;
}